/*
* Helper
* @author: Cosmin Mitroi
*/

/* Text Align + Vertical Align
----------------------------------------------------------------------------------------------------*/

.align_center {
    text-align: center !important;
}

.align_right {
    text-align: right !important;
}

.align_left {
    text-align: left !important;
}

.align_top,
.align_top th,
.align_top td {
    vertical-align: top !important;
}

.align_middle,
.align_middle th,
.align_middle td {
    vertical-align: middle !important;
}

.align_bottom,
.align_bottom th,
.align_bottom td {
    vertical-align: bottom !important;
}

/* Positioning
----------------------------------------------------------------------------------------------------*/

.make_relative {
    position: relative;
}

.make_block {
    display: block;
}

.make_inline {
    display: inline;
}

/* Floats
----------------------------------------------------------------------------------------------------*/

.float_left {
    float: left;
}

.float_right {
    float: right;
}

/* Widths
----------------------------------------------------------------------------------------------------*/

.width_5 {
    width: 5%;
}

.width_10 {
    width: 10%;
}

.width_25 {
    width: 25%;
}

.width_33 {
    width: 33.3333%;
}

.width_50 {
    width: 50%;
}

.width_66 {
    width: 66.6666%;
}

.width_75 {
    width: 75%;
}

.width_100 {
    width: 100%;
}

/* Custom Elements
-----------------------------------------------------------------------*/

.error404 h2 {
    text-align: center;
    margin: 150px 0 64px;
}

.cm_error, .cm_grave, .cm_info, .cm_success, .cm_warning {
    margin: 10px 0;
    padding: 10px;
}

.cm_info {
    color: #00529B;
    background-color: #BDE5F8;
}

.cm_success {
    color: #4F8A10;
    background-color: #DFF2BF;
}

.cm_warning {
    color: #9F6000;
    background-color: #FEEFB3;
}

.cm_error {
    color: #D8000C;
    background-color: #FFBABA;
}

.cm_grave {
    color: #000;
    background-color: #666;
}

.cm_error:before, .cm_grave:before, .cm_info:before, .cm_success:before, .cm_warning:before {
    font-family: FontAwesome;
    margin-right: 16px;
}

.cm_info:before {
    content: "\f05a"
}

.cm_success:before {
    content: "\f058"
}

.cm_grave:before, .cm_warning:before {
    content: "\f071"
}

.cm_error:before {
    content: "\f057"
}

/* Bootstrap modal
-----------------------------------------------------------------------*/

.modal-footer_custom {
    margin-bottom: 0;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    -moz-box-shadow: inset 0 1px 0 #ffffff;
    box-shadow: inset 0 1px 0 #ffffff;
}

.modal-header_custom {
    padding: 9px 15px;
    border-bottom: 1px solid #eee;
}

/* Users
-----------------------------------------------------------------------*/

.btn-add_users {
    float: left;
    margin: 5px;
}

.ng-table-pager {
    text-align: left;
}

.ng-table-pager .pagination {
    margin: 0px;
    padding-left: 10px;
}

.urlsTableCreatedDate,
.urlsTableActions {
    width: 120px;
    display: inline-block;
}

.urlsTableUrl {
    max-width: 400px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.panel .ng-table-pager {
    padding-right: 10px;
    line-height: 40px;
}

.UsersTable tr td:nth-child(1),
.UsersTable tr th:nth-child(1),
.UsersTable tr td:nth-child(2),
.UsersTable tr th:nth-child(2) {
    text-align: left;
}

.add_new-user {
    display: inline-block;
    border-bottom: 1px solid #ddd;
    padding: 5px 0;
}

.padding-right_8 {
    padding-right: 8px;
}

.urlsUserInfo {
    text-align: left;
    display: block;
    border-bottom: 1px solid #ddd;
    padding: 10px 5px;
    margin: 0px;
}

/* Login Form */
.user-login_container {
    max-width: 95rem;
}

.register-box {
    margin-top: 10rem;
}

#headerwrap .input-group-addon i {
    font-size: 1.4rem;
    color: #555;
}

.forgot_password-content {
    border-top: 1px solid #888;
    padding-top: 1.5rem;
    font-size: 85%
}

.panel-body_login {
    padding: 3rem 3rem 0.5rem;
}

.input-group-login {
    margin-bottom: 2.5rem;
}

.panel-info_login {
    background-color: #f7f7f7;
}

.submit-button_login {
    margin-top: 10px;
}

/* Right navbar*/
.navmenu-nav .dropdown-toggle {
    padding: 0 30px;
}

.menu .open:hover > .dropdown-toggle {
    color: gray;
}

.nav > li > a:hover,
.nav > li > a:focus {
    background-color: #1a1a1a;
}

.nav-dropdown {
    min-width: 200px;
}

/* Check password strength */

input.ng-pristine + ul#strength {
    display: none;
}

ul#strength {
    display: inline;
    list-style: none;
    margin: 0;
    margin-left: 10px;
    padding: 0;
    vertical-align: 2px;
}

.point:last {
    margin: 0 !important;
}

.point {
    background: #DDD;
    border-radius: 2px;
    display: inline-block;
    height: 5px;
    margin-right: 1px;
    width: 20px;
}

#footer {
    position: fixed;
    bottom: 5px;
}

/* Selection */
::selection {
    background: #000;
    color: #fff;
}

::-moz-selection {
    background: #000;
    color: #fff;
}

::-webkit-selection {
    background: #000;
    color: #fff;
}

.ng-table {
    background-color: #fff;
}

.grid.effect-2 li.animate {
    -webkit-transform: translateY(200px);
    -moz-transform: translateY(200px);
    transform: translateY(200px);
    -webkit-animation: moveUp .65s ease forwards;
    -moz-animation: moveUp .65s ease forwards;
    animation: moveUp .65s ease forwards;
}

@-webkit-keyframes moveUp {
    to {
        -webkit-transform: translateY(0);
        opacity: 1;
    }
}

@-moz-keyframes moveUp {
    to {
        -moz-transform: translateY(0);
        opacity: 1;
    }
}

@keyframes moveUp {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}