/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, footer,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-align: left;
}

body {
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

:focus {
    outline: 0;
}

a:focus {
    outline: 1px dotted #999;
}

ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 160%;
    height: 100%;
}

body {
    min-height: 100%;
    position: relative;
}

textarea {
    overflow: auto;
}

button {
    cursor: pointer;
}

input[type="checkbox"],
input[type="radio"],
input.radio,
input.checkbox {
    position: relative;
    vertical-align: text-top;
    width: 13px;
    height: 13px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    top: 2px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a img {
    border: 0;
    vertical-align: text-bottom;
}

/* CLEARFIX */
.clearfix:after {
    clear: both;
    visibility: hidden;
    content: ".";
    display: block;
    height: 0;
    font-size: 0;
}

.clearfix {
    min-height: 0;
    height: auto !important;
    height: 0;
}