/**
 * 
 * @author: Cosmin Mitroi
 */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

menu, ol, ul, p {
    padding: 0;
    margin: 0
}

::-moz-selection {
    background: #efdf1e;
    text-shadow: none;
    color: #000
}

::selection {
    background: #efdf1e;
    text-shadow: none;
    color: #000
}

a {
    color: inherit
}

a:active,
.field:focus,
.btn:focus {
    outline: none
}

img {
    display: inline-block;
    vertical-align: top
}

small {
    font-size: inherit
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0
}

html {
    font: 400 normal 62.5%/1.25 'segoe ui', tahoma, helvetica, arial, sans-serif;
    color: #fffefe;
    background-color: #151515
}

body {
    font-size: 1.3rem;
    background-repeat: no-repeat;
    background: #0f0f0f;
    background: -moz-linear-gradient(top, #000 0%, #151515 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #000), color-stop(100%, #151515));
    background: -webkit-linear-gradient(top, #000 0%, #151515 100%);
    background: -o-linear-gradient(top, #000 0%, #151515 100%);
    background: -ms-linear-gradient(top, #000 0%, #151515 100%);
    background: linear-gradient(to bottom, #000 0%, #151515 100%);
}

input, textarea, keygen, select, button {
    font-family: 'segoe ui', tahoma, helvetica, arial, sans-serif
}

html, body {
    height: 100%;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.btn {
    display: inline-block;
    position: relative;
    vertical-align: top;
    background: #d8d8d8;
    color: #010000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.1rem;
    line-height: 2.2;
    padding: 0 1.3rem;
    border: 0;
    font-weight: 700;
    text-shadow: 0 1px #dfdfdf;
    height: 2.4rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-border-radius: 0.2rem;
    border-radius: 0.2rem;
    -webkit-box-shadow: 0 0.1rem 0.2rem 0 #010101;
    box-shadow: 0 0.1rem 0.2rem 0 #010101;
    background: -moz-linear-gradient(top, #d8d8d8 0%, #b0b0b0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d8d8d8), color-stop(100%, #b0b0b0));
    background: -webkit-linear-gradient(top, #d8d8d8 0%, #b0b0b0 100%);
    background: -o-linear-gradient(top, #d8d8d8 0%, #b0b0b0 100%);
    background: -ms-linear-gradient(top, #d8d8d8 0%, #b0b0b0 100%);
    background: linear-gradient(to bottom, #d8d8d8 0%, #b0b0b0 100%);
}

.btn:hover,
.btn:focus {
    color: #000;
    background: #dedede
}

.btn:active {
    top: 2px
}

.btn.current,
.btn[disabled],
.btn.disabled,
a.btn:not([href]) {
    opacity: 0.5;
    cursor: default;
    pointer-events: none;
}

.form-btn {
    font-size: 1.4rem;
    padding: 0 4.8rem;
    line-height: 2.45;
    height: 3.4rem
}

.text-link {
    text-decoration: underline;
    color: #999;
    padding: 0 1rem;
    margin: 0 -1rem
}

.text-link:hover,
.text-link:focus {
    color: #d6d6d6;
    text-decoration: none
}

.text-link:active {
    position: relative;
    top: 2px
}

.splash-brand {
    display: inline-block;
    vertical-align: top;
    max-width: 49rem
}

.splash-logo {
    margin-right: 2rem;
    vertical-align: middle
}

.splash-brand-intro {
    font-weight: 1.4rem;
    line-height: 1.6;
    color: #999;
    display: inline-block;
    max-width: 33rem;
    text-align: left;
    vertical-align: middle;
}

.splash-brand-intro .text-link {
    color: #fff;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem
}

.splash-title {
    color: #f2dd1d;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.4;
    margin: 3.6rem auto 4.5rem
}

.splash-title-intro {
    color: #fff;
    font-weight: 400;
    display: block
}

.splash-title-intro a {
    text-decoration: none;
}

.splash-title-intro a:hover,
.splash-title-intro a:focus {
    text-decoration: underline;
}

.splash-main {
    min-height: 23rem;
    max-width: 82rem;
    margin: 5rem auto 0;
    padding: 4.5rem 5rem 3rem;
    text-align: left;
    font-size: 1.4rem;
    line-height: 1.429;
    color: #666;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 0.3rem;
    border-radius: 0.3rem;
}

.splash-title + .splash-main {
    margin-top: 0
}

.splash-main-title {
    display: block;
    font: normal 700 3rem/1.34 arial, helvetica, sans-serif;
    color: #dadada;
    margin: 0
}

.splash-error-title {
    color: #f42323;
    font-size: 3rem;
    font-weight: 400
}

.splash-bar {
    line-height: 3.3;
    background: #151515;
    text-align: right
}

.splash-bar-wrap {
    max-width: 98rem;
    margin: 0 auto;
    padding: 0 1rem
}

.splash-bar-wrap .text-link {
    display: inline-block;
    vertical-align: top;
    padding: 0 1rem;
    color: #fff
}

.splash-form {
    background-repeat: no-repeat;
    background-position: right top;
    overflow: hidden;
    padding-bottom: 5rem;
    position: relative;
}

.splash-form fieldset {
    float: left;
    width: 100%
}

.splash-form .fields {
    position: relative
}

.splash-form .form-btn {
    padding: 0 3.2rem;
    font-size: 2.1rem;
    height: 5.4rem;
    line-height: 5rem;
}

.splash-form .form-btn:active {
    bottom: -2px;
    top: auto
}

.splash-form .post-scriptum {
    color: #dadada;
    font-size: 1.2rem;
    line-height: 1.34;
    padding: 0.9rem 0 0.7rem
}

.field-label {
    display: block;
    padding: 0 0 1.1rem
}

.field-horizontal {
    display: table;
    width: 100%;
    max-width: 53rem;
    margin: 2.3rem 0 3.1rem
}

.field-horizontal .field-label {
    color: #f6f6f6;
    display: inline-block;
    vertical-align: text-bottom;
    display: table-cell;
    width: 15rem;
    padding: 0 1.5rem 0 0
}

.field-horizontal .field-wrap {
    display: table-cell;
    width: 38rem
}

.error-label {
    font-size: 1.2rem;
    color: #b61b1b;
    padding-left: 1.4rem;
    display: inline-block;
}

.fields + .error-label {
    padding: 0.9rem 0 0.7rem 2rem
}

.field-input {
    width: 100%;
    height: 5.4rem;
    padding: 1.5rem 2rem 1.4rem 2rem;
    border: 0.1rem solid #474747;
    font-size: 1.6rem;
    line-height: 1.2;
    color: #aaa;
    outline: 0;
    background: #3f3f3f;
    background: -moz-linear-gradient(top, #2d2d2d 0%, #323232 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2d2d2d), color-stop(100%, #323232));
    background: -webkit-linear-gradient(top, #2d2d2d 0%, #323232 100%);
    background: -o-linear-gradient(top, #2d2d2d 0%, #323232 100%);
    background: -ms-linear-gradient(top, #2d2d2d 0%, #323232 100%);
    background: linear-gradient(to bottom, #2d2d2d 0%, #323232 100%);
    -webkit-border-radius: 0.2rem;
    border-radius: 0.2rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.field-input:hover {
    border-color: #6e6e6e;
    background: #4a4a4a;
    background: -moz-linear-gradient(top, #4a4a4a 0%, #525252 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4a4a4a), color-stop(100%, #525252));
    background: -webkit-linear-gradient(top, #4a4a4a 0%, #525252 100%);
    background: -o-linear-gradient(top, #4a4a4a 0%, #525252 100%);
    background: -ms-linear-gradient(top, #4a4a4a 0%, #525252 100%);
    background: linear-gradient(to bottom, #4a4a4a 0%, #525252 100%);
}

.field-input:focus {
    border-color: #b1b1b1;
    color: #000;
    background: #979797;
    background: -moz-linear-gradient(top, #979797 0%, #a9a9a9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #979797), color-stop(100%, #a9a9a9));
    background: -webkit-linear-gradient(top, #979797 0%, #a9a9a9 100%);
    background: -o-linear-gradient(top, #979797 0%, #a9a9a9 100%);
    background: -ms-linear-gradient(top, #979797 0%, #a9a9a9 100%);
    background: linear-gradient(to bottom, #979797 0%, #a9a9a9 100%);
}

.field-input::-webkit-input-placeholder {
    color: #5a5a5a
}

.field-input::-moz-placeholder {
    color: #5a5a5a
}

.field-input:-ms-input-placeholder {
    color: #5a5a5a
}

.field-input:hover::-webkit-input-placeholder {
    color: #999
}

.field-input:hover::-moz-placeholder {
    color: #999
}

.field-input:hover:-ms-input-placeholder {
    color: #999
}

.field-input:focus::-webkit-input-placeholder {
    color: #666
}

.field-input:focus::-moz-placeholder {
    color: #666
}

.field-input:focus:-ms-input-placeholder {
    color: #666
}

.field-horizontal.error {
    max-width: 100%
}

.field-horizontal.error .error-label {
    display: table-cell;
    vertical-align: middle;
}

.field.error .field-input {
    border-color: #b71b1b;
    color: #000;
    background: #bd9898;
    background: -moz-linear-gradient(top, #bd9898 0%, #d1bbbb 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bd9898), color-stop(100%, #d1bbbb));
    background: -webkit-linear-gradient(top, #bd9898 0%, #d1bbbb 100%);
    background: -o-linear-gradient(top, #bd9898 0%, #d1bbbb 100%);
    background: -ms-linear-gradient(top, #bd9898 0%, #d1bbbb 100%);
    background: linear-gradient(to bottom, #bd9898 0%, #d1bbbb 100%);
}

.field.error .field-input::-webkit-input-placeholder {
    color: #ce3e3e
}

.field.error .field-input::-moz-placeholder {
    color: #ce3e3e
}

.field.error .field-input:-ms-input-placeholder {
    color: #ce3e3e
}

.field.error .field-input::-webkit-input-placeholder {
    color: #b71b1b
}

.field.error .field-input::-moz-placeholder {
    color: #b71b1b
}

.field.error .field-input:-ms-input-placeholder {
    color: #b71b1b
}

.field.error .field-input:focus::-webkit-input-placeholder {
    color: #b71b1b
}

.field.error .field-input:focus::-moz-placeholder {
    color: #b71b1b
}

.field.error .field-input:focus:-ms-input-placeholder {
    color: #b71b1b
}

.form-btn.flr {
    margin-right: 19.1rem
}

.checkbox-wrap {
    position: relative;
    margin-top: -1.1rem;
    padding-left: 15rem;
    padding-bottom: 1.9rem
}

.checkbox-wrap .field-checkbox {
    position: absolute;
    opacity: 0
}

.checkbox-wrap .field-label {
    color: #999
}

.checkbox-wrap .field-label:before {
    content: "";
    display: inline-block;
    width: 1.9rem;
    height: 1.9rem;
    border: 0.1rem solid #363636;
    border-radius: 0.3rem;
    vertical-align: text-bottom;
    margin-right: 1rem;
    background: #2f2f2f
}

.checkbox-wrap .field-checkbox:hover + .field-label:before,
.checkbox-wrap .field-checkbox:focus + .field-label:before {
    border-color: #626262;
    background: #525252
}

.checkbox-wrap .field-checkbox:checked:hover + .field-label:before,
.checkbox-wrap .field-checkbox:checked:focus + .field-label:before {
    background-color: #d8d8d8;
    border-color: #d8d8d8
}

.required-indicator {
    color: #ff2424
}

/***** Form-specific *************************************
**********************************************************/
.invite-form .field-email {
    padding-right: 17rem
}

.invite-form .form-submit {
    position: absolute;
    right: 0;
    bottom: 0
}

.layout-footer {
    color: #3e3e3e;
    border-top: 0.3rem solid #3b3b3b;
    font-size: 1rem;
    line-height: 1.8;
    text-transform: uppercase;
    font-weight: 700;
    padding: 1.8rem 0 1rem
}

.footer-link {
    display: inline-block;
    vertical-align: top;
    margin: 0 -0.5rem
}

.password-link {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700
}

.field-horizontal .password-link {
    float: right;
    margin: -1.4rem -0.5rem 0.5rem 0
}

.message {
    background: rgba(112, 211, 16, 0.5);
    color: #fff;
    line-height: 1.67;
    padding: 2.1rem 5.3rem 1.9rem;
    margin: -4.5rem -5rem 4.5rem;
    -webkit-border-radius: 0.3rem 0.3rem 0 0;
    border-radius: 0.3rem 0.3rem 0 0;
}

#welcome-message img {
    border: 0.1rem solid #676767;
    position: absolute;
    left: 50%;
    top: 11rem;
    margin-left: -40rem;
    -webkit-box-shadow: 0 0 3.3rem 1.2rem rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 3.3rem 1.2rem rgba(0, 0, 0, 0.4);
    -webkit-border-radius: 0.2rem;
    border-radius: 0.2rem;
}

#welcome-message {
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 3
}

@media only screen and (max-device-width: 480px) {
    div#wrapper {
        width: 400px;
    }

    div#header {
        background-image: url(phone.jpg);
        height: 53px;
        position: relative;
    }

    div#header h1 {
        font-size: 120%;
    }

    #content {
        float: none;
        width: 100%;
    }
}

@media only screen and (max-width: 568px) {
    .splash-form .field-input {
        padding-right: 1rem;
        padding-left: 1rem
    }

    .splash-form .form-btn {
        position: static;
        margin: 1rem auto;
        width: 100%
    }

    .layout-main {
        padding: 5rem 1rem
    }

    .splash-logo {
        width: 50%;
        height: auto;
        margin-bottom: 2rem;
        min-width: 12rem
    }

    .splash-brand-intro {
        text-align: center;
    }

    .splash-main {
        padding: 2rem
    }

    .splash-main-title {
        padding-bottom: 1rem;
        line-height: 1.2
    }
}

@media only screen and (max-width: 860px) {

    .field-horizontal .field-label,
    .field-horizontal .field-wrap,
    .field-horizontal {
        display: block;
        width: auto;
        max-width: 100%
    }

    .field-horizontal .field-label {
        padding-bottom: 1rem;
        width: auto
    }

    .error-label {
        padding: 1rem 0 0 0;
        display: block
    }

    .form-btn.flr {
        margin-right: 0
    }

    .checkbox-wrap {
        padding-left: 0
    }
}

.text-center {
    text-align: center;
}

.flr {
    float: right;
}

.fll {
    float: left;
}
